<div class="page-header">
  <h1>Demo Application</h1>

</div>

<h2>Hello {{name}}, let's learn about your representatives!</h2>
<h3>Enter your state and congressional district to get started.</h3>
<form method="post">
  <label for="yourState">Your state (two letter representation):</label>
  <input type="text" name="state" id="yourState">
  <label for="yourDistrict">Your congressional district (number):</label>
  <input type="text" name="district" id="yourDisctrict">
  <input type="submit" name="Find My Members" value="Find My Members">
</form>
{{#if senateRep1Name}}
<h4>Your representatives:</h4>
<h5>State:{{state}}   District:{{district}}</h5>
<ul>
  <li>Senate:
    <ul>
      <li>{{senateRep1Name}}
        <ul>
          <li>Party: {{senateRep1Party}}</li>
          <li>ID: {{senateRep1Id}}</li>
        </ul>
      </li>
      <li>{{senateRep2Name}}
        <ul>
          <li>Party: {{senateRep2Party}}</li>
          <li>ID: {{senateRep2Id}}</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>House:
    <ul>
      <li>{{houseRepName}}
        <ul>
          <li>Party: {{houseRepParty}}</li>
          <li>ID: {{houseRepId}}</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
{{/if}}
<h3>Enter a congressional ID to get more information on that member of Congress:</h3>
<form method="post">
  <label for="aMemberId">ID:</label>
  <input type="text" name="memberId" id="aMemberId" value="{{memberId}}">
  <input type="submit" name="Member Bio" value="Get Member Bio">
  <input type="submit" name="Member Votes" value="Get Member Votes">
</form>
{{#if memberId}}
<h4>Congressional Member Information</h4>
<ul>
  <li>ID: {{memberId}}
    <ul>
      {{#if memberLastName}}
      <li>Name: {{memberFirstName}} {{memberLastName}}</li>
      <li>Date of birth: {{memberBirthdate}}</li>
      <li>Website: <a href="{{memberUrl}}">{{memberUrl}}</a></li>
      <li>Twitter: <a href="https://twitter.com/{{memberTwitter}}?lang=en">{{memberTwitter}}</a></li>
      {{/if}}
      {{#if memberRole}}
      <li>Roles:
        <ul>
          {{#each memberRole}}
          <li>Congress number {{this.number}}
            <ul>
              <li>Chamber: {{this.chamber}}</li>
              <li>Title: {{this.title}}</li>
              <li>State: {{this.state}}</li>
              <li>Party: {{this.party}}</li>
              <li>District: {{this.district}}</li>
              <li>Start date: {{this.startDate}}</li>
              <li>End date: {{this.endDate}}</li>
            </ul>
          </li>
          {{/each}}
        </ul>
      </li>
      {{/if}}
      {{#if memberVote}}
      <li>Votes:
        <ul>
          {{#each memberVote}}
          <li>Congress {{this.congressNum}}, chamber {{this.chamber}}, session {{this.sessionNum}}, roll call {{this.rollCallNum}}
            <ul>
              {{#if this.billNumber}}
              <li>Bill number: {{this.billNumber}}</li>
              <li>Bill title: {{this.billTitle}}</li>
              <li>Latest action on the bill: {{this.latestAction}}</li>
              {{else}}
              <li>Description: {{this.description}}</li>
              {{/if}}
              <li>Question: {{this.question}}</li>
              <li>Date/Time: {{this.date}}/{{this.time}}</li>
              <li>Position: {{this.position}}</li>
            </ul>
          </li>
          {{/each}}
        </ul>
      </li>
      {{/if}}
    </ul>
  </li>
</ul>
{{/if}}
<h3>Enter a Congress number and chamber to see all of the members of that chamber of Congress.</h3>
<form method="post">
  <label for="aCongressNumber">Congress:</label>
  <select name="congressNumber" id="aCongressNumber">
    <option value="102">102</option>
    <option value="103">103</option>
    <option value="104">104</option>
    <option value="105">105</option>
    <option value="106">106</option>
    <option value="107">107</option>
    <option value="108">108</option>
    <option value="109">109</option>
    <option value="110">110</option>
    <option value="111">111</option>
    <option value="112">112</option>
    <option value="113">113</option>
    <option value="114">114</option>
  </select>
  <label for="aChamber">Chamber:</label>
  <select name="chamber" id="aChamber">
    <option value="senate">Senate</option>
    <option value="house">House of Representatives</option>
  </select>
  <input type="submit" name="Find All Members" value="Find All Members">
</form>
{{#if chamberName}}
<h4>The members of the {{chamberName}} in the {{congressNumber}} Congress:</h4>
{{/if}}
<ul>
  {{#each congressMember}}
  <li>Name: {{this.firstName}} {{this.lastName}}
    <ul>
      <li>ID: {{this.idNum}}</li>
      <li>Party: {{this.party}}</li>
      <li>State: {{this.state}}</li>
      {{#if this.district}}
      <li>District: {{this.district}}</li>
      {{/if}}
      <li>Website: <a href="{{this.url}}">{{this.url}}</a></li>
    </ul>
  </li>
  {{/each}}
</ul>
<h3>To see voting details from a particular roll call, enter the Congress number, chamber, session number, and roll call number.</h3>
<form method="post">
  <label for="aRollCallCongressNum">Congress:</label>
  <select name="rollCallCongressNum" id="aRollCallCongressNum">
    <option value="102">102</option>
    <option value="103">103</option>
    <option value="104">104</option>
    <option value="105">105</option>
    <option value="106">106</option>
    <option value="107">107</option>
    <option value="108">108</option>
    <option value="109">109</option>
    <option value="110">110</option>
    <option value="111">111</option>
    <option value="112">112</option>
    <option value="113">113</option>
    <option value="114">114</option>
  </select>
  <label for="aRollCallChamber">Chamber:</label>
  <select name="rollCallChamber" id="aRollCallChamber">
    <option value="senate">Senate</option>
    <option value="house">House of Representatives</option>
  </select>
  <label for="aRollCallSession">Session:</label>
  <input type="text" name="rollCallSession" id="aRollCallSession">
  <label for="aRollCallNumber">Roll Call:</label>
  <input type="text" name="rollCallNumber" id="aRollCallNumber">
  <input type="submit" name="Get Voting Details" value="Get Voting Details">
</form>
{{#if voteQuestion}}
<h4>Voting Details from Roll Call {{rollCallNumber}} (session {{rollCallSession}}, {{rollCallChamber}}, Congress {{rollCallCongressNum}})</h4>
<ul>
  <li>Question: {{voteQuestion}}
    <ul>
      <li>Description: {{voteDescription}}</li>
      <li>Date: {{voteDate}}</li>
      <li>Time: {{voteTime}}</li>
      <li>Result: {{voteResult}}</li>
      <li>Democratic:
        <ul>
          <li>Yes: {{demYesVote}}</li>
          <li>No: {{demNoVote}}</li>
          <li>Not Voting: {{demNotVoting}}</li>
        </ul>
      </li>
      <li>Republican:
        <ul>
          <li>Yes: {{repYesVote}}</li>
          <li>No: {{repNoVote}}</li>
          <li>Not Voting: {{repNotVoting}}</li>
        </ul>
      </li>
      <li>Independent:
        <ul>
          <li>Yes: {{indYesVote}}</li>
          <li>No: {{indNoVote}}</li>
          <li>Not Voting: {{indNotVoting}}</li>
        </ul>
      </li>
      <li>Total:
        <ul>
          <li>Yes: {{totYesVote}}</li>
          <li>No: {{totNoVote}}</li>
          <li>Not Voting: {{totNotVoting}}</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
{{/if}}
<h3>To learn more about a bill, enter the bill identifier and Congress number:</h3>
<form method="post">
  <label for="aBillCongressNum">Congress:</label>
  <select name="billCongressNum" id="aBillCongressNum">
    <option value="102">102</option>
    <option value="103">103</option>
    <option value="104">104</option>
    <option value="105">105</option>
    <option value="106">106</option>
    <option value="107">107</option>
    <option value="108">108</option>
    <option value="109">109</option>
    <option value="110">110</option>
    <option value="111">111</option>
    <option value="112">112</option>
    <option value="113">113</option>
    <option value="114">114</option>
  </select>
  <label for="aBillId">Bill ID (without spaces):</label>
  <input type="text" name="billId" id="aBillId">
  <input type="submit" name="Get Bill Details" value="Get Bill Details">
</form>
{{#if billTitle}}
<h4>Bill Details:</h4>
<ul>
  <li>{{billId}}
    <ul>
      <li>Title: {{billTitle}}</li>
      <li>Sponsor: {{billSponsor}}</li>
      <li>Date Introduced: {{billDateIntro}}</li>
      <li>Committees: {{billCommittees}}</li>
      <li>Latest Major Action Date: {{billLatestDate}}</li>
      <li>Latest Major Action: {{billLatestAction}}</li>
    </ul>
  </li>
</ul>
{{/if}}
<h3>To get the 20 bills most recently updated or introduced by a member, enter the member ID and type:</h3>
<form method="post">
  <label for="aBillMemberId">Member ID:</label>
  <input type="text" name="billMemberId" id="aBillMemberId">
  <label for="aBillMemberType">Would you like the most recent bills introduced or updated by this member?</label>
  <select name="billMemberType" id="aBillMemberType">
    <option value="introduced">introduced</option>
    <option value="updated">updated</option>
  </select>
  <input type="submit" name="Get Bills by Member" value="Get Bills by Member">
</form>
{{#if billMemberName}}
<h4>Most recent bills {{billMemberType}} by {{billMemberName}}:</h4>
<ul>
  {{#each billMemberBill}}
  <li>{{this.billNumber}}
    <ul>
      <li>Title: {{this.billTitle}}</li>
      <li>Date Introduced: {{this.dateIntro}}</li>
      <li>Cosponsors: {{this.cosponsors}}</li>
      <li>Latest Major Action Date: {{this.latestDate}}</li>
      <li>Latest Major Action: {{this.latestAction}}</li>
    </ul>
  </li>
  {{/each}}
</ul>
{{/if}}
<h3>To get the 20 bills most recently cosponsored or withdrawn by a member, enter the member ID and type:</h3>
<form method="post">
  <label for="aCosponsorId">Member ID:</label>
  <input type="text" name="cosponsorId" id="aCosponsorId">
  <label for="aCosponsorActionType">Would you like the bills most recently cosponsored or withdrawn by this member?</label>
  <select name="cosponsorActionType" id="aCosponsorActionType">
    <option value="cosponsored">cosponsored</option>
    <option value="withdrawn">withdrawn</option>
  </select>
  <input type="submit" name="Get Bills by Cosponsor" value="Get Bills by Cosponsor">
</form>
{{#if cosponsorMemberName}}
<h4>Most recent bills {{cosponsorActionType}} by {{cosponsorMemberName}}:</h4>
<ul>
  {{#each cosponsorBill}}
  <li>{{this.billNumber}}
    <ul>
      <li>Title: {{this.billTitle}}</li>
      <li>Sponsor ID: {{this.sponsorId}}</li>
      <li>Date Introduced: {{this.dateIntro}}</li>
      <li>Cosponsor Date: {{this.cosponsorDate}}</li>
      {{#if withdrawnDate}}
      <li>Date Withdrawn: {{this.withdrawnDate}}</li>
      {{/if}}
      <li>Cosponsors: {{this.cosponsors}}</li>
      <li>Latest Major Action Date: {{this.latestDate}}</li>
      <li>Latest Major Action: {{this.latestAction}}</li>
    </ul>
  </li>
  {{/each}}
</ul>
{{/if}}

  <img src="/images/poweredby_nytimes_200a.png" class="img-responsive logo" alt="Data provided by The New York Times">
