<!--GET and POST Checker Assignment-->
<!--get-post-checker.handlebars-->
<!--Author: Rachel Weissman-Hohler-->
<!--Date: 02/18/16-->
<!--CS290-400-->

<h1>{{methodType}} Request Received</h1>
<h3>Received in URL query string:</h3>
{{#if queryList}}
	<ul>
		{{#each queryList}}
			<li>{{this.name}}: {{this.value}}
		{{/each}}
	</ul>
{{else}}
	<p>No parameters received.</p>
{{/if}}
<h3>Received in request body:</h3>
{{#if bodyList}}
	<ul>
		{{#each bodyList}}
			<li>{{this.name}}: {{this.value}}
		{{/each}}
	</ul>
{{else}}
	<p>No parameters received.</p>
{{/if}}