<h1>{{methodType}} Request Received</h1>
<h3>Received in URL query string:</h3>
<ul>
	{{#each queryList}}
		<li>{{this.name}}: {{this.value}}
	{{/each}}
</ul>
<h3>Received in request body:</h3>
<ul>
	{{#each bodyList}}
		<li>{{this.name}}: {{this.value}}
	{{/each}}
</ul>